In [1]:
# AB test

In [2]:
import statsmodels.api as sm

In [5]:
z_score, p_value = sm.stats.proportions_ztest([0.676*139 , 0.475*160 ],[139, 160], alternative = 'larger')
(z_score, p_value)

(3.4999764762341092, 0.00023264960866406127)

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('ab_data.csv')

In [8]:
df

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [10]:
null_rate = df['converted'].sum() / df.shape[0]
null_rate

0.11965919355605512

In [14]:
df.shape

(294478, 5)

In [15]:
df.converted.count()

294478

In [16]:
df.groupby(['group','landing_page']).count()['converted']

group      landing_page
control    new_page          1928
           old_page        145274
treatment  new_page        145311
           old_page          1965
Name: converted, dtype: int64

In [17]:
df2 = df[(df.group == 'treatment') & (df.landing_page == 'new_page')]

In [18]:
df2

        user_id                   timestamp      group landing_page  converted
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
6        679687  2017-01-19 03:26:46.940749  treatment     new_page          1
8        817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9        839785  2017-01-15 18:11:06.610965  treatment     new_page          1
...         ...                         ...        ...          ...        ...
294462   677163  2017-01-03 19:41:51.902148  treatment     new_page          0
294465   925675  2017-01-07 20:38:26.346410  treatment     new_page          0
294468   643562  2017-01-02 19:20:05.460595  treatment     new_page          0
294472   822004  2017-01-04 03:36:46.071379  treatment     new_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[145311 rows x 5 columns]

In [19]:
df.drop_duplicates(subset='user_id', keep='first', inplace=True)
# Use a sample size for each page equal to the ones in ab_data1.csv. 
df.groupby('landing_page').count()['user_id']

landing_page
new_page    145320
old_page    145264
Name: user_id, dtype: int64

In [21]:


df.drop_duplicates(subset='user_id', keep='first', inplace=True)
# Use a sample size for each page equal to the ones in ab_data1.csv. 
df.groupby('landing_page').count()['user_id']

landing_page
new_page    145320
old_page    145264
Name: user_id, dtype: int64

In [22]:
df.isnull().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [23]:
df.user_id.nunique()

290584

In [24]:
df.drop_duplicates(subset='user_id', keep='first', inplace=True)

In [30]:
df.groupby('landing_page').count()['user_id']

landing_page
new_page    145320
old_page    145264
Name: user_id, dtype: int64

In [26]:
df.isnull().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [31]:
n_new , n_old = 145320 , 145264

In [32]:
n_new , n_old = 145320 , 145264
convert_old = df.query('landing_page == "old_page"')['converted'].sum()
convert_new = df.query('landing_page == "new_page"')['converted'].sum()
z_score, p_value = sm.stats.proportions_ztest([convert_new,convert_old],[n_new, n_old],alternative='larger')
(z_score, p_value)

(-1.3704617576931086, 0.9147285973840954)

In [33]:
df.to_csv('abtest.csv')

In [2]:
import pandas as pd
df = pd.read_csv('abtest.csv')

In [5]:
df.groupby(['landing_page']).count()

              Unnamed: 0  user_id  timestamp   group  converted
landing_page
new_page          145320   145320     145320  145320     145320
old_page          145264   145264     145264  145264     145264

In [8]:
df.groupby(['landing_page']).count()['user_id']

landing_page
new_page    145320
old_page    145264
Name: user_id, dtype: int64

In [9]:

convert_old = df.query('landing_page == "old_page"')['converted'].sum()
convert_new = df.query('landing_page == "new_page"')['converted'].sum()

In [10]:
convert_old

17489

In [11]:
convert_new

17256

In [15]:
df.groupby(['landing_page', 'converted']).count()

                        Unnamed: 0  user_id  timestamp   group
landing_page converted
new_page     0              128064   128064     128064  128064
             1               17256    17256      17256   17256
old_page     0              127775   127775     127775  127775
             1               17489    17489      17489   17489